<!-- Contenedor principal -->
<div class="container" style="margin-top: 100px;">
    <!-- Lista de novedades -->
    <ul class="list-group">
  
      <!-- Primera novedad -->
      <li class="list-group-item" style="background-color: #133344;">
        <div class="row">
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" style="opacity: 85%; height: 380px; width: 900px;">
          </div>
          <div class="col-md-6">
            <h4></h4>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 10px; color:white">

                Bienvenido al programa de "Agradecimiento/Reconocimiento", el cual busca que cualquier empleado pueda reconocer las contribuciones de un miembro del equipo para alcanzar o acelerar un objetivo planteado.
                
            </p>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px; color:white">

                ¡Seamos positivos! Es importante tomar en cuenta que al utilizar esta herramienta de Agradecimiento/Reconocimiento, el mensaje siempre es positivo, se apega al código de conducta de Cencosud y entiende que este mensaje será compartido a toda la organización.
                
            </p>
            <button class="btn btn-success" style="margin-left: 25px;margin-top: 25px; color:white">Envía un Agradecimiento</button>
            <button class="btn btn-secondary" style="margin-left: 25px;margin-top: 25px; color:white">Envía un Reconocimiento</button>
          </div>
        </div>
      </li>
      
  
    </ul>
  

    <div class="comment-list" style="margin-top: 160px;padding-bottom: 50px;">
        <div class="comment-item" *ngFor="let comment of comments" style="margin-top: 30px;border-radius: 10px;border:rgba(88, 133, 175,0.2) solid 1px;background-color: rgb(237, 239, 243); ">
          <div>
              <div style="width: 100%;
              height: 90px;
              background-color: #ffffff;
              border-bottom: solid 1px #E0E0E0;
              display:flex;
              align-items: center;
              cursor: pointer;">
              <div style="background: #E6E7ED;background-image: url({{comment.foto}}); margin-left:20px;
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat; margin-right: 15px;"><div class="online"></div>
              </div>
              <i class="fa-solid fa-medal" style="margin-right: 15px;color:#133344;"></i>
              <h3 style="font-size: 25px; color:rgb(15, 15, 202)">{{ comment.namePF }}&nbsp;</h3> <h4>fue reconocid@ por </h4><h3 style="font-size: 25px;color:rgb(15, 15, 202)"> &nbsp;{{ comment.nameEmisor }}</h3>
              
            </div>
            <div class="cuerpo-comentario" style="padding-left: 20px;padding-top: 20px;">
              <h3 style="font-size: 20px; color:blue">{{ comment.asunto }}</h3>
            
              <p style="margin-top: 20px;">{{ comment.comment }}</p>
            </div>
          </div>
          
          
        </div>
      </div>
  </div>
  