.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col {
    flex: 1;
    padding: 0 15px;
}
.product-img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}
.product-description {
    margin-bottom: 20px;
}
.product-info {
    margin-bottom: 20px;
}
.product-options {
    margin-bottom: 20px;
}
.product-price {
    margin-bottom: 20px;
}
.product-reviews {
    margin-bottom: 20px;
}
.product-related {
    margin-bottom: 20px;
}
.product-add-to-cart {
    margin-bottom: 20px;
}
.container {
    margin-bottom: 80px;
}

.first_div {
    margin-top: 80px;
}

.div_producto{
    background-color: #eceef0;
}

.product_info_button{
    width: 100%; 
    border-bottom: #1e6286 solid 3px; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

h3{
    color:#1e6286; 
    text-align: left; 
    margin: 0;
}

.ubicacion_textos{
    text-align: right; 
    margin-left: auto;
}