<div class="hold-transition register-page">
    <div class="register-box animate__animated animate__backInLeft">
        <div class="register-logo">
            <a href="../../index2.html"><b>Cenco</b>Web</a>
        </div>

        <div class="card ">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registra tu cuenta</p>

                <form (ngSubmit)="onRegister()" [formGroup]="registerForm" >

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" required >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color: rgb(48, 37, 37);;"></span>
                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-8">
                            
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-light btn-block" style="color:white" [disabled]="registerForm.invalid">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a routerLink="/login" class="text-center link-reg">Ya tengo mis credenciales</a>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>
