<!-- Contenedor principal -->
<div class="container" style="margin-top: 100px;">
    <!-- Lista de novedades -->
    <ul class="list-group">
  
      <!-- Primera novedad -->
      <li class="list-group-item" style="background-color: #133344;">
        <div class="row">
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" style="opacity: 85%; height: 380px; width: 900px;">
          </div>
          <div class="col-md-6">
            <h4></h4>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 10px; color:white">

                Bienvenido al programa de "Agradecimiento/Reconocimiento", el cual busca que cualquier empleado pueda reconocer las contribuciones de un miembro del equipo para alcanzar o acelerar un objetivo planteado.
                
            </p>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px; color:white">

                ¡Seamos positivos! Es importante tomar en cuenta que al utilizar esta herramienta de Agradecimiento/Reconocimiento, el mensaje siempre es positivo, se apega al código de conducta de Cencosud y entiende que este mensaje será compartido a toda la organización.
                
            </p>
            <button class="btn btn-success" style="margin-left: 25px;margin-top: 25px; color:white">Envía un Agradecimiento</button>
            <button class="btn btn-secondary" style="margin-left: 25px;margin-top: 25px; color:white">Envía un Reconocimiento</button>
          </div>
        </div>
      </li>
      
  
    </ul>
    
    <li class="list-group-item" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6">
                <h4></h4>
                <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;">
    
                    Capacidad
                    
                    
                    
                </p>
              </div>
          <div class="col-md-6">
            <h4></h4>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;">

                Alias Empleado
                
                
                
            </p>
          </div>
        </div>
      </li>




      <li class="list-group-item">
        <div class="row">
            <div class="col-md-6">
                <h4></h4>
                <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;margin-right: 20px;background-color: rgb(246, 246, 250);">
                    <strong>Cliente siempre primero:</strong>
                    El empleado nominado, evidenció durante trimestre amplio cumplimiento en esta competencia, generando acciones que impactaron en la satisfacción del cliente interno y/o externo; anticipándose y resolviendo de forma oportuna y cercana. 
                    
                    
                    
                </p>
              </div>
          <div class="col-md-6" >
            <h4></h4>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;">

                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="nominado">
                    <option selected>Escoge un empleado...</option>
                    <option value="Rodrigo Caballero">Rodrigo Caballero</option>
                    <option value="Joaquín Fernandez">Joaquín Fernandez</option>
                    <option value="Maryuris Torres">Maryuris Torres</option>
                    <option value="Danyael Vásquez">Danyael Vásquez</option>
                  </select>
                  <button class="btn btn-success" style="margin-left: 25px;margin-top: 25px; color:white" (click)="nominaAAlguien()">Envía un Agradecimiento</button>
                
                
                
            </p>
          </div>
        </div>
      </li>
      


    

</div>