<!-- Contenedor principal -->
<div class="container">
    
    <!-- Título de la página -->
    <h2>Nuestra Misión como CCT</h2>
  
    <!-- Lista de novedades -->
    <ul class="list-group">
  
      <!-- Primera novedad -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-fluid" style="opacity: 85%;">
          </div>
          <div class="col-md-6">
            <h4></h4>
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;">

                El CCT es el equipo de Cencosud que lidera y gobierna la estrategia cloud, y garantiza la adopción y operación de la nube conforme a las mejores prácticas y una línea base corporativa.
                
                
                
            </p>
          </div>
        </div>
      </li>
      <h2 style="margin-top: 100px;">¿Cómo lo hacemos?</h2>
  
      <!-- Segunda novedad -->
      <li class="list-group-item">
        <div class="row">
          
          <div class="col-md-6">
            <p style="font-size: 20px; margin-left: 25px; margin-right: 25px;margin-top: 25px;">
                
                El CCT tiene a su cargo la maduración continua de capacidades cloud que habilitan a los equipos de negocio a tener una experiencia de desarrollo y operación de la nube: ágil, simplificada y segura, a través de estándares, arquitecturas de referencia, controles preventivos, automatizaciones y servicios de autogestión de la nube.</p>
          </div>
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-fluid" style="opacity: 85%;">
          </div>
        </div>
      </li>
      <h2 style="margin-top: 100px;">¿Qué beneficios genera?</h2>
      <!-- Tercera novedad -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1664575197229-3bbebc281874?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-fluid" style="opacity: 85%;">
          </div>
          <div class="col-md-6">
            <p style="font-size: 20px; margin-left: 25px;margin-top: 25px;">
                El CCT contribuye a la entrega de valor de la organización reflejada en que la aceleración de la innovación y agilidad en los negocios, optimización de costos y recursos, mejoras o cambios de las áreas clientes sin impacto (o un impacto mínimo), y el desarrollo del liderazgo y talento en cloud.</p>
          </div>
        </div>
      </li>
  
    </ul>
  
  </div>
  