<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 style="font-weight: bold;"></h2>
      </div>
    </div>
    <div class="row" >
      <div class="col-12" *ngFor="let producto of productos">
        <div class="producto style_product">
          <div class="imagen img_color">
            <img src="{{producto.imagen}}" alt="{{producto.nombre}}" style="width: 180px; height: 180px; border-radius: 20px;">
          </div>
          <div class="informacion" style="margin-top: 35px;">
            <h3 style="font-size: 25px; color:white;">{{producto.nombre}}</h3>
            <p style="color:white;">{{producto.descripcion}}</p>
            <div class="div_img">
                <button class="btn btn-primary style_btn_primary">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  