
<!-- Contenedor principal -->
<div class="container" style="margin-top: 150px;">
    
    <!-- Título de la página -->
    <h2 style="margin-top: 50px;margin-bottom: 50px;">¿Que nubes se utilizan en Cencosud?</h2>
  
    <!-- Lista de novedades -->
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1.<img src="../../../assets/dist/img/azure_logo.png" alt="" class = "icon"> {{cloud_1}}
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                    <div class="card-body">
                        Microsoft Azure es una plataforma de servicios en la nube ofrecida por Microsoft. Esta plataforma ofrece una amplia variedad de servicios de infraestructura, plataforma y software como servicio (IaaS, PaaS y SaaS, respectivamente). 
                        Azure también es compatible con una amplia variedad de lenguajes de programación, lo que la hace una opción atractiva para empresas que trabajan con múltiples tecnologías.


                    </div>
                </div>
            </div>
        
        <div class="card card-warning card-outline">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        2. <img src="../../../assets/dist/img/awslogo2.png" alt="" class = "icon"> {{cloud_2}}
                    </h4>
                </div>
            </a>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    AWS es una plataforma de servicios en la nube ofrecida por Amazon. Esta plataforma ofrece una amplia variedad de opciones para almacenamiento, 
                    procesamiento de datos y desarrollo de aplicaciones.
                </div>
            </div>
        </div>
    
        
        <div class="card card-danger card-outline">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        3. <img src="../../../assets/dist/img/oracle3.png" alt="" class = "icon"> {{cloud_4}}
                    </h4>
                </div>
            </a>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Oracle Cloud es una plataforma de servicios en la nube ofrecida por Oracle Corporation. Esta plataforma proporciona una amplia variedad de servicios de infraestructura, plataforma y software como servicio (IaaS, PaaS y SaaS, respectivamente).
                    Oracle Cloud puede resultar conveniente para empresas que buscan soluciones de nube personalizadas y escalables para sus necesidades de tecnología empresarial. Además, Oracle Cloud ofrece soluciones específicas para diferentes sectores, como finanzas, salud y comercio minorista.
                </div>
            </div>
        </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseEight">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            4. <img src="../../../assets/dist/img/gcp2.png" alt="" class = "icon"> {{cloud_3}}
                        </h4>
                    </div>
                </a>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Google Cloud Platform es una plataforma de servicios en la nube ofrecida por Google. Esta plataforma ofrece una amplia variedad de opciones 
                        para almacenamiento, procesamiento de datos y desarrollo de aplicaciones. Google también ha desarrollado soluciones específicas para diferentes sectores, 
                        como el análisis de datos y el aprendizaje automático.
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>