<div class="container">
    <div class="card bg-dark" style="margin-top:150px">
        <div class="card-header text-center"><strong>Ingrese su Email</strong></div>
        <div class="card-body">
            <form (ngSubmit)="resetPass()" [formGroup]="forgotPasswordForm">            
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Password reset</button>
            </div>
            <div class="form-group text-center">
                <a routerLink="/login" style="cursor: pointer; text-decoration: none;">Volver a Login..</a>
            </div>
           </form> 
        </div>

    </div>
   
</div>
